{{> modules-GM1-Global-Nav-Header }}

<div class="container">
  <div class="row py-6">
    <div class="col">
      <h2 class="display4 bold mb-3">404 Not Found</h2>
      <p class="display8 secondary">The requested page <span class="bold">/example</span> was not found.</p>
    </div>
  </div>
</div>

{{> modules-GM2-Global-Nav-Footer }}