<div class="form-row">
  <div class="form-group col-md-12">
    <label for="bill01" class="primary-2">Billing Address</label>
    <input type="text" class="form-control d-inline-block" id="bill01" required>
    <div class="invalid-feedback">
      What's yer address?
    </div>
  </div>
  <div class="form-group col-md-8 col-lg-7">
    <label for="city01" class="primary-2">City</label>
    <input type="text" class="form-control" id="city01" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="form-group col-md-4 col-lg-2">
    <label for="stateSelect01" class="primary-2">State</label>
    <select id="stateSelect01" class="custom-select" required>
      <option selected></option>
      <option value="AL">AL</option>
      <option value="AK">AK</option>
      <option value="AR">AR</option>
      <option value="AZ">AZ</option>
      <option value="CA">CA</option>
      <option value="CO">CO</option>
      <option value="CT">CT</option>
      <option value="DC">DC</option>
      <option value="DE">DE</option>
      <option value="FL">FL</option>
      <option value="GA">GA</option>
      <option value="HI">HI</option>
      <option value="IA">IA</option>
      <option value="ID">ID</option>
      <option value="IL">IL</option>
      <option value="IN">IN</option>
      <option value="KS">KS</option>
      <option value="KY">KY</option>
      <option value="LA">LA</option>
      <option value="MA">MA</option>
      <option value="MD">MD</option>
      <option value="ME">ME</option>
      <option value="MI">MI</option>
      <option value="MN">MN</option>
      <option value="MO">MO</option>
      <option value="MS">MS</option>
      <option value="MT">MT</option>
      <option value="NC">NC</option>
      <option value="NE">NE</option>
      <option value="NH">NH</option>
      <option value="NJ">NJ</option>
      <option value="NM">NM</option>
      <option value="NV">NV</option>
      <option value="NY">NY</option>
      <option value="ND">ND</option>
      <option value="OH">OH</option>
      <option value="OK">OK</option>
      <option value="OR">OR</option>
      <option value="PA">PA</option>
      <option value="RI">RI</option>
      <option value="SC">SC</option>
      <option value="SD">SD</option>
      <option value="TN">TN</option>
      <option value="TX">TX</option>
      <option value="UT">UT</option>
      <option value="VT">VT</option>
      <option value="VA">VA</option>
      <option value="WA">WA</option>
      <option value="WI">WI</option>
      <option value="WV">WV</option>
      <option value="WY">WY</option>
    </select>
    <div class="invalid-feedback">

    </div>
  </div>
  <div class="form-group col-md-5 col-lg-3">
    <label for="zip01" class="primary-2">Zipcode</label>
    <input type="text" class="form-control" id="zip01" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="w-100"></div>
  <div class="form-group col-md-7 align-self-end">
    <label for="email01" class="primary-2">Email</label>
    <input type="email" class="form-control" id="email01" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="form-group col-md-5 align-self-end">
    <label for="phone01" class="primary-2 d-flex w-100">Phone<span
        class="d-inline-block gray-medium small italic ml-auto optional text-capitalize">Optional</span></label>
    <input type="tel" class="form-control" id="phone01" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="w-100"></div>
  <div class="form-group col-md-12 mt-0 pl-2">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="small custom-control-label medium" for="customCheck1">Save to Customer Profile</label>
    </div>
    <div class="invalid-feedback">
      Test message
    </div>
  </div>
  <div class="form-group col-md-12 mt-9">
    <label class="primary-2 d-flex w-100" for="comment01">Message<span
        class="d-inline-block gray-medium small italic ml-auto optional text-capitalize">Optional</span></label>
    <textarea class="form-control" rows="1" id="comment01"></textarea>
  </div>
</div>
