<div class="container pt-2 pb-3 pt-md-3 pb-md-4">
  <div class="row">
    <div class="col">
      <p class="display4 bold text-center">Global headquarters</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p class="display7 secondary text-center">
        We're anchored in the heart and hustle of New York City, so we can advance the industry worldwide.
      </p>
    </div>
  </div>
</div>

{{>components-C67-Map}}