{{# home.newSaleModal }}
{{> Modules-M22-Modal-Sale }}
{{/ home.newSaleModal }}

<div class="wrapper">

  {{> Modules-M02-Navigation-Side }}

  <!-- Page Content  -->
  <section id="content" class="pb-8">

    {{> Modules-M33-Navigation-Top }}

    {{> Modules-M03a-Header-Simple }}

    {{> Modules-M18-Table-Reporting }}

  </section>

  <!-- Dark Overlay  -->
  <div class="overlay"></div>

</div>
