<nav class="navbar navbar-expand-lg bg-secondary d-lg-none hamburger-menu">
  <div class="container-fluid">
    <button type="button" id="sidebarCollapse" class="">
      <img src="../../images/hamburger.svg" alt="Homepage Icon" class="sidebar-icon mr-2 default">
    </button>
  </div>
</nav>
