<div class="container-fluid d-flex align-items-start align-items-center justify-content-center">
  <div class="row">
    <div class="col-md-12 main-col d-flex align-items-center justify-content-center px-0 py-sm-8">
      <div class="wrap bg-primary-3 d-flex align-items-start flex-column">
        <div class="inner-wrap d-flex align-items-center justify-content-center flex-column">
          <img src="{{ logo-dark }}" alt="CardX Logo" class="mt-7 mt-sm-9 logo">
          <h1 class="display1 mt-8 primary-2 text-center">{{ authentication.heading-new }}</h1>
          <div class="inner-inner-wrap">
            <form class="mt-7 needs-validation" novalidate>
              <div class="form-group mb-0">
                <label for="password" class="primary-2 d-flex">New Password</label>
                <input type="password" class="form-control w-100" id="password" oninput="check(this)" required>
              </div>
              <div class="form-group mt-5 mb-0">
                <label for="password_confirm" class="primary-2 d-flex">Confirm Password</label>
                </label>
                <input type="password" class="form-control w-100 " id="password_confirm" oninput="check(this)" required>
                <script language='javascript' type='text/javascript'>
                  function check(input) {
                    if (input.value !== document.getElementById('password').value) {
                      input.setCustomValidity('Password Must be Matching.');
                    } else {
                      // input is valid -- reset the error message
                      input.setCustomValidity('');
                    }
                  }

                </script>
                <div class="invalid-feedback">
                  Passwords don't match.
                </div>
                <p class="small mt-1" for="customCheck1">Create a password that's unique to CardX and includes at least
                  8 characters.</label>
              </div>
              <button type="submit" class="btn mt-4 submit-login w-100">{{ authentication.submit }}</button>
            </form>
          </div>
          <p class="mx-auto mt-7">
            <a href="{{ authentication.url-back-to-login }}" class="small bold oops-links">
              <svg width="11px" height="7px" viewBox="0 0 11 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Fill 1</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Layout" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="5_T1b_Login_ForgotPassword@2x" transform="translate(-636.000000, -773.000000)" fill="#0071CE">
                    <g id="back-to-login" transform="translate(636.000000, 766.000000)">
                      <polygon id="Fill-1"
                        transform="translate(5.500000, 10.500000) rotate(180.000000) translate(-5.500000, -10.500000) "
                        points="7.25448749 7 6.67366904 7.62693593 9.29061667 10.0716294 0.00141939992 10.0716294 0 10.9275147 9.29231995 10.9275147 6.67366904 13.3732067 7.25448749 14 11 10.5004279">
                      </polygon>
                    </g>
                  </g>
                </g>
              </svg>&nbsp;{{ authentication.link-back }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
