<!-- Hero -->
<div class="jumbotron jumbotron-fluid m-0 event-hero event-hero__no-overlay py-4" style="background-image: url('{{ newsHero.bgImg}}');">
  <div class="container">

    <div class="row">
      <div class="col text-center text-md-left">
        <div class="left-nav text-left mb-0 mb-md-2 mb-lg-3">
          <a href="#" class="display8 accent back p-0 m-0">{{ eventHero.linkText }}</a>
        </div>
      </div>
    </div>

    <div class="row flex-row-reverse">
      <div class="col-md-5 text-center py-5 py-md-6 mx-6 mx-sm-7 mx-md-0">
        <img src="{{ imagePath }}RCEDmech09-poster.png" class="img-shadow img-fluid slide-up slide-up--delay-1" />
      </div>
      <div class="col-md-7 text-center text-md-left pt-md-5">
        <p class="display8 secondary slide-up">{{ eventHero.category }}</p>
        <h1 class="mb-3 display3 bold slide-up slide-up--delay-1">{{ eventHero.heroTitle }}</h1>
        <p class="mb-4 secondary display6 slide-up slide-up--delay-2">{{ eventHero.date }}</p>
        <p class="display7 secondary slide-up slide-up--delay-3">{{ eventHero.author }}</p>
        <p class="display7 secondary slide-up slide-up--delay-3">{{ eventHero.price }}</p>
      </div>
    </div>
  </div>
</div>

{{> components-C62-Sticky-CTA }}

<div class="container offset-sticky py-4 py-md-6">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      {{>components-C64-Text-Block}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      {{>components-C65-Text-List}}
    </div>
  </div>

</div>