<div class="container-fluid d-flex align-items-start align-items-center justify-content-center">
  <div class="row">
    <div class="col-md-12 main-col d-flex align-items-center justify-content-center px-0 py-sm-8">
      <div class="wrap bg-primary-3 d-flex align-items-start flex-column">
        <div class="inner-wrap d-flex align-items-center justify-content-center flex-column">
          <img src="{{ logo-dark }}" alt="CardX Logo" class="mt-7 mt-sm-9 logo">
          <h1 class="display1 mt-8 primary-2 text-center">{{ authentication.heading-forgot }}</h1>
          <div class="inner-inner-wrap">
            <p class="text-center mt-5 mb-0 gray-medium">{{ authentication.copy-forgot }}</p>
            <form class="mt-9 needs-validation d-flex flex-column justify-content-center" novalidate>
              <div class="form-group mb-0">
                <label for="email1">Email</label>
                <input type="email" class="form-control w-100" id="email1">
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>
              <button type="submit" class="btn mt-5 mx-auto w-100">{{ authentication.submit }}</button>
            </form>
          </div>
          <span class="mx-auto mt-8">
            <a href="{{ authentication.url-back-to-login }}" class="small bold oops-links">
              <svg width="11px" height="7px" viewBox="0 0 11 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                <title>Fill 1</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Layout" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="5_T1b_Login_ForgotPassword@2x" transform="translate(-636.000000, -773.000000)" fill="#0071CE">
                    <g id="back-to-login" transform="translate(636.000000, 766.000000)">
                      <polygon id="Fill-1"
                        transform="translate(5.500000, 10.500000) rotate(180.000000) translate(-5.500000, -10.500000) "
                        points="7.25448749 7 6.67366904 7.62693593 9.29061667 10.0716294 0.00141939992 10.0716294 0 10.9275147 9.29231995 10.9275147 6.67366904 13.3732067 7.25448749 14 11 10.5004279">
                      </polygon>
                    </g>
                  </g>
                </g>
              </svg>&nbsp;{{ authentication.link-back }}
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
