<div class="row mt-4 order-3">
  <div class="col-md-12 px-0">
    <table id="deposits-table" class="display nowrap" style="width:100%">
      <thead class="bg-secondary-1 primary-3 label uppercase">
        <tr>
          <th>ID</th>
          <th>Deposit</th>
          <th>Date</th>
          <th>Gross Amount</th>
          <th># Transactions</th>
          <th></th>
          <th class="control"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
