<div class="container mobile-promo">
  <div class="row">
    <div class="col-md-6 pr-md-0">
      <div class="d-flex flex-column copy">
        <h1 class="display3 bold mt-5 mt-md-0">Connect faster with ICSC on the go</h1>
        <p class="display7 mt-3 secondary">Search directories, sees who's at the same conference, or register for your next event. All while OOO.</p>

        <form class="form-inline mt-3">
          <label class="sr-only hidden-sm-down" for="inlineFormInput">Name</label>
          <input type="tel" class="form-control mr-2 hidden-sm-down pl-3 mobileInput" id="smsForm" placeholder="Enter Mobile #" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Mobile #'">
          <button type="submit" class="btn btn-primary d-inline-block mr-0 px-3 align-self-end hidden-sm-down">Text me the link</button>
        </form>
        <button type="submit" class="btn btn-primary d-inline-block mr-0 mb-5 px-3 hidden-md-up">Add to Home Screen</button>
        <p class="display8 mt-2 secondary hidden-sm-down">Standard SMS rates apply.</p>
      </div>
    </div>

    <div class="col-md-6 p-5 hidden-sm-down">
      <img class="ml-auto promo-img w-100" src="{{ imagePath }}promo-smartphone-2x.png" alt="Promo Img">
    </div>
  </div>
</div>