<div class="container">
  <div class="row pt-md-6">
    <div class="col-md-7 push-md-5 pb-3 pb-sm-4 pb-md-0 pt-0 ">
      <video poster="{{ featuredVideo.placeholderSrc }}" width="630" height="355" controls class="img-fluid">
        <source src="{{ featuredVideo.mp4Src }}" type="video/mp4">
        <source src="{{ featuredVideo.ogvSRc }}" type="video/ogg">
      </video>
    </div>
    <div class="col-md-5 pr-md-3 pr-lg-5 pr-xl-7 pull-md-7">
      <p class="display4 bold mt-md-0 mt-lg-4 mt-xl-6">{{ featuredVideo.title }}</p>
      <p class="display8 secondary mb-4">{{ featuredVideo.desc }}</p>
    </div>
  </div>
</div>