<div class="container py-5 py-md-7 callouts">

  <div class="row">
    <div class="col">
      <h3 class="display7 secondary">{{ callouts.title }}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4 class="display6 bold mt-4">{{ callouts.cat1 }}</h4>
      <p class="display8 secondary d8-truncate3">{{ callouts.cat1desc }}</p>
      <a href="#" class="display8 accent">{{ callouts.cat1LinkText }}</a>
    </div>
    <div class="col-md-4">
      <h4 class="display6 bold mt-4">{{ callouts.cat2 }}</h4>
      <p class="display8 secondary d8-truncate3">{{ callouts.cat2desc }}</p>
      <a href="#" class="display8 accent">{{ callouts.cat1LinkText }}</a>
    </div>
    <div class="col-md-4">
      <h4 class="display6 bold mt-4">{{ callouts.cat3 }}</h4>
      <p class="display8 secondary d8-truncate3">{{ callouts.cat3desc }}</p>
      <a href="#" class="display8 accent">{{ callouts.cat1LinkText }}</a>
    </div>
  </div>

  <!-- Optional Row -->
  <div class="row">
    <div class="col-md-4">
      <h4 class="display6 bold mt-4">{{ callouts.cat4 }}</h4>
      <p class="display8 secondary d8-truncate3">{{ callouts.cat4desc }}</p>
      <a href="#" class="display8 accent">{{ callouts.cat4LinkText }}</a>
    </div>
    <div class="col-md-4">
      <h4 class="display6 bold mt-4">{{ callouts.cat5 }}</h4>
      <p class="display8 secondary d8-truncate3">{{ callouts.cat5desc }}</p>
      <a href="#" class="display8 accent">{{ callouts.cat5LinkText }}</a>
    </div>
    <div class="col-md-4">
      <h4 class="display6 bold mt-4">{{ callouts.cat6 }}</h4>
      <p class="display8 secondary d8-truncate3">{{ callouts.cat6desc }}</p>
      <a href="#" class="display8 accent">{{ callouts.cat6LinkText }}</a>
    </div>
  </div>

</div>