<div class="container-fluid bg-gray-lightest pt-4 pt-md-5 pb-4 pb-md-6 featured-articles">
  <div class="container">
    <div class="row pb-3 pb-md-4">
      <div class="col">
        <h1 class="display3 bold text-center">Explore ICSC Exchange by</h1>
        <div class="dropdown d-flex justify-content-center">
          <div class="dropdown-rappa">
            <a class="display3 accent heroCat bold ml-auto" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Latest</a>
            <div class="dropdown-menu dropdown-menu dropdown-menu-right mt-2 pl-3 pr-5 text-left" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item my-3 accent" href="#">Older</a>
              <a class="dropdown-item my-3" href="#">Even Older</a>
              <a class="dropdown-item my-3 " href="#">Much Older</a>
              <a class="dropdown-item my-3" href="#">Ancient</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
      <div class="col-md-6 col-lg-4">{{> components-C25A-General-Card }}</div>
    </div>
  </div>

  <div class="text-center">
    <a class="btn btn-outline-primary mt-4 mt-md-5 px-6 cta" role="button" href="#">View more</a>
  </div>

</div>