
{{> Components-C29-Customer-Profile-Heading }}

<div class="container customer pb-9 px-md-0">

  {{> Components-C20-Customer-Profile }}

  <!-- I Rule -->
  <div class="row mt-7">
    <div class="col-md-10 offset-md-1"><div class="w-100 rule">&nbsp;</div></div>
  </div>

  {{> Components-C21-Customer-Card-On-File }}

  <!-- No I Rule -->
  <div class="row mt-7">
    <div class="col-md-10 offset-md-1"><div class="w-100 rule">&nbsp;</div></div>
  </div>

  {{> Components-C22-Customer-Billing-Plan }}

</div>




