{{> modules-GM1-Global-Nav-Header }}

{{> modules-M39-Profile-Detail }}

{{> modules-M40-Profile-Badges }}

{{> modules-M16A-Featured-Events-Preview-Authenticated }}

{{> modules-M30-Attending-Callout }}

{{> modules-GM2-Global-Nav-Footer }}