<div class="container pb-5 list-card-module">

  <h3 class="display4 bold mt-5 mb-3 mt-md-5 mb-md-4 mt-lg-6 mb-lg-5 text-center">Latest News &amp; Views</h3>

  {{> components-C25C-General-List-Latest-News }}
  {{> components-C25C-General-List-Latest-News }}
  {{> components-C25C-General-List-Latest-News }}

  <div class="text-center">
    <a class="btn btn-primary mt-4 mt-md-5 cta" role="button" href="#">See all News &amp; Views</a>
  </div>

</div>