<div class="container content-block-narrow pt-5 pt-md-4">
  <div class="row">

    {{> components-C36-Left-Nav }}

    <!-- Spacer -->
    <div class="col-lg-1 hidden-md-down">&nbsp;</div>

    <div class="col-md-7 col-lg-8 pl-3">

      {{> components-C50-Sub-Hero-Copy }}

      <div class="row pb-6">
        <div class="col">
          <div class="body-copy">

            <h1 class="display6 bold">{{ subPage.secondaryTitle1 }}</h1>
            <p class="display8 mt-4 mt-md-3 secondary">{{ subPage.secondaryBodyCopy1 }}</p>
            <p class="display8 mt-4 mt-md-3 download"><a href="#" class="accent">{{ subPage.link1 }}</a></p>
            <!-- <img src="{{ imagePath }}recon-photo@2x.jpg" alt="Recon Photo" class="w-100 pt-5"> -->

            <h2 class="display6 bold mt-6">{{ subPage.secondaryTitle2 }}</h2>
            <p class="display8 mt-3 secondary">{{{ subPage.secondaryBodyCopy2 }}}</p>
            <p class="display8 mt-4 mt-md-3 download"><a href="#" class="accent">{{ subPage.link2 }}</a></p>

            <h3 class="display7 mt-4">{{ subPage.secondaryTitle3 }}</h3>
            <p class="display8 mt-2 secondary">{{{ subPage.secondaryBodyCopy3 }}}</p>
            <p class="display8 mt-4 mt-md-3 download"><a href="#" class="accent">{{ subPage.link3 }}</a></p>

            <h3 class="display7 mt-4">{{ subPage.secondaryTitle4 }}</h3>
            <p class="display8 mt-2 secondary">{{{ subPage.secondaryBodyCopy4 }}}</p>

            {{> components-C71-Session-Item }}

            {{> components-C70-Form-Inputs }}

            {{> components-34B-Accordion-Narrow }}

            {{> components-C52-Inline-Image }}

            {{> components-C53A-Inline-Video }}

            {{> components-C59-Asset-Promo }}

            {{> components-C37-Infographic-with-CTA }}

            {{> components-C59-Asset-Promo }}

            {{> components-C68-2-Column-Contacts }}

          </div>
        </div>
      </div>

      <!-- Jump to Mobile Button -->
      <div class="container-fluid sticky-cta">

        <div class="dropup hidden-md-up fixed-bottom fade-in footer-cta p-2">
          <button type="button" class="btn btn-outline-primary dropdown-toggle hidden-md-up px-6 w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Go to</button>
          <div class="dropdown-menu w-100 pt-3" aria-labelledby="dropdownMenuLink">
            <a href="#" class="display9 my-3 pl-3 accent back">Back to [Parent]</a>
            <a class="dropdown-item display8 my-3 pl-3" href="#">Contact Us</a>
            <a class="dropdown-item display8 my-3 pl-3 bold d-flex flex-wrap sub-links " href="#">Sponsor, Exhibit &amp; Advertise</a>

            <div>
              <a class="dropdown-item display8 my-3 pl-4" href="#">Kid A</a>
              <a class="dropdown-item display8 my-3 pl-4" href="#">Kid B</a>
              <a class="dropdown-item display8 my-3 pl-4" href="#">Kid C</a>
            </div>

            <a class="dropdown-item display8 my-3 pl-3" href="#">Terms &amp; Conditions</a>
            <a class="dropdown-item display8 my-3 pl-3" href="#">Privacy Policy</a>
            <a class="dropdown-item display8 my-3 pl-3" href="#">Antitrust Policy</a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>