<div class="jumbotron jumbotron-fluid short-hero m-0 py-5 py-md-7 no-overlay" style="background-image: url(' {{ shortHero.imgSrc2 }}')">
  <div class="container">
    <h1 class="text-center light display3 bold mb-3 slide-up">{{ shortHero.heroTitle }}</h1>
    <p class="text-center light display6 slide-up slide-up--delay-1">{{ shortHero.heroDesc }}</p>
  </div>
</div>