<div class="container snapshots-rebooted py-5">

  <div class="mb-5">
    <h3 class="display4 bold text-center">{{ snapshots3.title }}</h3>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <img class="promo-img mt-3" src="{{ snapshots3.cat1img }}" alt="Promo Img">
      <h4 class="display6 bold mt-4">{{ snapshots3.cat1 }}</h4>
      <p class="display8 secondary text-center px-4">{{ snapshots3.cat1desc }}</p>
    </div>

    <div class="col-lg-4 text-center">
      <img class="promo-img mt-3" src="{{ snapshots3.cat2img }}" alt="Promo Img">
      <h4 class="display6 bold mt-4">{{ snapshots3.cat2 }}</h4>
      <p class="display8 secondary text-center px-4">{{ snapshots3.cat2desc }}</p>
    </div>

    <div class="col-lg-4 text-center">
      <img class="promo-img mt-3" src="{{ snapshots3.cat3img }}" alt="Promo Img">
      <h4 class="display6 bold mt-4">{{ snapshots3.cat3 }}</h4>
      <p class="display8 secondary text-center px-4">{{ snapshots3.cat3desc }}</p>
    </div>

  </div>

</div>