<div class="container">
  <div class="row">
    <div class="col">
      <ul class="sg-colors">
        <li>
          <span class="sg-swatch" style="background: #FC2B2B;"></span>
          <span class="sg-label">
            $brand-primary<br />
            $red
          </span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #d7edd0;"></span>
          <span class="sg-label">
            $brand-success<br />
            $accent-1
          </span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #def2f7;"></span>
          <span class="sg-label">
            $brand-info<br />
            $accent-3
          </span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #fffbbd;"></span>
          <span class="sg-label">
            $brand-warning<br />
            #fffbbd
          </span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #E31837;"></span>
          <span class="sg-label">
            $brand-danger<br />
            $original-red
          </span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #343434;"></span>
          <span class="sg-label">
            $brand-inverse<br />
            $gray-dark
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>