
<div class="container article mt-3">

  <div class="row">
    <div class="col-md-8 offset-md-1 mt-7 mt-md-9 pl-md-0" >
      <h2 class="display4">{{ article.page-title }}</h2>
    </div>
  </div>

  <div class="row jump-nav">

    <!-- Mobile Jump Nav -->
    <div class="col-md-10 d-lg-none offset-md-1 mt-3 pl-md-0">
      <div class="dropdown d-lg-none">
        <a class="dropdown-toggle d-inline-block w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jump to Section
          <img src="../../images/arrow-down.svg" class="arrow-down">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {{# article.sections }}
            <a class="dropdown-item px-2" href="#{{ id }}">{{ title }}</a>
          {{/ article.sections }}
        </div>
      </div>
    </div>

    <!-- Desktop Jump Nav -->
    <div class="col-lg-3 d-none d-lg-flex align-items-center offset-md-1 mt-8 py-3 pl-lg-7 bg-gray-purple py-md-5 title">
      <p class="small uppercase my-0 secondary-6 bold">{{ jumpNav.title }}</p>
    </div>
    {{# jumpNav.links }}
      <div class="col-lg-2 d-none d-lg-flex align-items-center mt-8 py-3 bg-gray-purple py-md-5 jump-link">
        <a href="#{{ id }}">{{ copy }}</a>
      </div>
    {{/ jumpNav.links }}
    <div class="col-md-1 d-none d-lg-flex align-items-center mt-8 py-3 bg-gray-purple py-md-5 spacer">&nbsp;</div>

    <!-- Article Body -->
    {{# article.sections }}

      <!-- Anchor Tag -->
      <a id="{{ id }}"></a>

      <div class="col-md-3 offset-md-1 mt-7 mt-md-8 pl-md-0 article-section">
        <h3 class="secondary-6">{{ title }}</h3>
      </div>

      <!-- If Single Image -->
      {{# image }}
        <div class="col-md-7 mt-6 mt-md-8 pr-md-0">
          <img src="{{ image }}" class="article-img-cont image w-100">
        </div>
      {{/ image }}

      <!-- If Two Images-->
      {{# images }}
        <div class="col-md-7 mt-6 mt-md-8 pr-md-0 d-flex">
          <img src="{{ image1 }}" class="article-img-cont smaller image">
          <img src="{{ image2 }}" class="article-img-cont smaller image ml-auto">
        </div>
      {{/ images }}

      <!-- If No Image -->
      {{# no-image }}
        <div class="col-md-7 mt-6 mt-md-8 pr-md-0 mb-5">
          {{{ copy }}}
        </div>
      {{/ no-image }}


      <div class="col-md-3 offset-md-1 mt-7 pl-md-0">

        <!-- If Support Tip -->
        {{# support-tip }}
          <div class="support-tip">
            <img src="{{ cog }}" alt="Gear Icon" class="d-inline-block">
            <p class="label bold d-inline-block tertiary-2">{{ tip-title }}</p>
            <p class="small medium">{{ tip }}</p>
          </div>
        {{/ support-tip }}

        <!-- If Pull Quote -->
        {{# pull-quote }}
          <div class="pull-quote">
            <img src="{{ lsquo }}" alt="Pull quote graphic">
            <p class="small medium w-75 my-3">{{ quote }}</p>
            <div class="small-rule">&nbsp;</div>
            <p class="small mt-3 mb-0">{{ author }},</p>
            <p class="small mb-md-8">{{ company }}</p>
          </div>
        {{/ pull-quote }}

        <!-- If Quick Tip -->
        {{# quick-tip }}
          <div class="quick-tip mb-8">
            <img src="{{ bulb }}" alt="Lightbulb graphic" class="d-inline-block">
            <p class="label bold d-inline-block tertiary-2">{{ tip-title }}</p>
            <p class="small medium mb-3 ">{{ tip }}</p>
          </div>
        {{/ quick-tip }}

      </div>

      <!-- Article Copy -->
      {{^ no-image }}
      <div class="col-md-7 mt-5 mt-md-7 mb-8 pr-sm-0">
        <p class="mb-0">{{{ copy }}}</p>
      </div>
      {{/ no-image }}

      <!-- Rule -->
      <div class="col-md-10 offset-md-1 px-md-0 rule-container">
        <div class="w-100 rule">&nbsp;</div>
      </div>
    {{/ article.sections }}

  </div>

</div>
