<footer class="footer">
  <div class="container-fluid bg-footer-gray p-0">
    <div class="container">
      <div class="footer-menu pt-4 pb-4">
        <ul class="nav flex-column flex-md-row display8">
          <li class="flex-sm-fill nav-i tem mt-md-3">
            <a class="nav-link mr-md-5" href="#">Our Mission</a>
          </li>
          <li class="flex-sm-fill nav-item mt-3">
            <a class="nav-link mr-md-5" href="#">Contact Us</a>
          </li>
          <li class="flex-sm-fill nav-item mt-3">
            <a class="nav-link mr-md-5" href="#">Sponsorship &amp; Advertising</a>
          </li>
          <li class="flex-sm-fill nav-item mt-3">
            <a class="nav-link" href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-footer-gray2 px-0 pt-4 pb-4">
    <div class="container">
      <div class="p-0">
        <p class="nav-link hidden-md-up text-muted mt-2 display8">Follow Us</p>
        <ul class="nav display8 d-flex justify-content-center justify-content-md-start">
          <li class="nav-item hidden-sm-down">
            <p class="text-muted m-0 pl-3 py-3 display8">Follow Us</p>
          </li>
          <li class="nav-item ml-md-6 mx-2 mx-md-4 align-self-center">
            <a class="nav-link" href="#">
              <img src="{{ imagePath }}facebook.svg">
            </a>
          </li>
          <li class="nav-item mx-2  mx-md-4 align-self-center">
            <a class="nav-link" href="#">
              <img src="{{ imagePath }}twitter.svg">
            </a>
          </li>
          <li class="nav-item mx-2  mx-md-4 align-self-center">
            <a class="nav-link" href="#">
              <img src="{{ imagePath }}instagram.svg">
            </a>
          </li>
          <li class="nav-item mx-2  mx-md-4 align-self-center">
            <a class="nav-link" href="#">
              <img src="{{ imagePath }}linkedIn.svg">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-footer-gray2 px-0 pb-2">
    <div class="container">
      <div class="footer-attributes">
        <div class="row flex-column-reverse flex-md-row">
          <div class="col-md-6 col-xs-12 align-self-center">
            <p class="text-gray mb-3 mb-md-0 ml-1 ml-md-2 px-2 pb-4 display9">&copy; Copyright 2017 International Council of Shopping Centers. All rights Reserved.</p>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="nav flex-column flex-md-row justify-content-md-end p-0 pb-4 display8 ">
              <li class="flex-sm-fill nav-item mt-md-0">
                <a class="nav-link  display9 text-gray" href="#">About</a>
              </li>
              <li class="flex-sm-fill nav-item mt-3 mt-md-0">
                <a class="nav-link text-gray display9" href="#">Antitrust Policy</a>
              </li>
              <li class="flex-sm-fill nav-item mt-3 mt-md-0">
                <a class="nav-link text-gray display9" href="#">Terms Of Service</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>