<div class="col-md-3 col-lg-2 pr-md-0 hidden-sm-down left-nav">
  <a href="#" class="display9 accent back">{{ leftNav.backText }}</a>
  <ul class="sidebar-nav mt-md-4 pt-md-1 pl-0">
    <li class="d-block"><a href="#" class="display8__alt secondary">{{ leftNav.link1 }}</a></li>
    <li class="d-block"><a href="#" class="display8__alt bold">{{ leftNav.link2 }}</a></li>
    <li class="d-block">
      <a aria-expanded="false" class="display8__alt sub-nav-link pr-3 d-flex collapsed" data-toggle="collapse" data-target="#subTier" href="#">I'm a Parent</a>
      <div class="collapse" id="subTier">
        <a class="d-block display8__alt ml-3 pt-3" href="{{ url }}">Kid A</a>
        <a class="d-block display8__alt ml-3 pt-3" href="{{ url }}">Kid B</a>
        <a class="d-block display8__alt ml-3 pt-3" href="{{ url }}">Kid C</a>
      </div>
    </li>
    <li class="d-block"><a href="#" class="display8__alt secondary">{{ leftNav.link3 }}</a></li>
    <li class="d-block"><a href="#" class="display8__alt secondary">{{ leftNav.link4 }}</a></li>
    <li class="d-block"><a href="#" class="display8__alt secondary">{{ leftNav.link5 }}</a></li>
  </ul>
</div>