<div class="card">

  <!-- Real Image -->
  <!-- <img class="member-card-img mt-4 mt-lg-5 mx-auto" src="{{ cards.memberCardImg }}" alt="{{ cards.memberName }}"> -->

  <!-- Fake Image -->
  <div class="member-card-img member-default mt-4 mt-lg-5 d-flex align-items-center mx-auto" alt="{{ cards.memberName }}">
    <div class="letters mx-auto">
      <span class="display5">{{ cards.memberFirstInit }}</span><span class="display5">{{ cards.memberLastInit }}</span>
    </div>
  </div>

  <div class="card-block py-0">
    <a href="#" class="profile-name-link">
      <h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ cards.memberName }}</h3>
    </a>
    <p class="display8 secondary mt-2 mb-0 text-center member-title">{{ cards.memberTitle }}</p>
    <p class="display8 secondary mt-2 mb-0 text-center member-title">{{ cards.memberLocale }}</p>
    <a href="#" class="profile-co-link">
      <p class="display8 mt-2 mb-0 text-center">{{ cards.memberCompany }}</p>
    </a>
  </div>
  <div class="card-icons mt-3 mt-lg-4 p-3 w-100 d-flex justify-content-start">
    <a tabindex="0" class="share share--facebook pt-2 mt-2 ml-auto" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true"></a>


    <!--card has two variations — data-placement for save icon is "bottom" on desktop, "left" on mobile-->
    <a tabindex="0" class="share share--save hidden-sm-down ml-3 mt-1" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true" title="
         <div class='bg-gray-dark p-2'>
            <a href='#' target='_self' class='light'>Log In to Save</a>
         </div>
      "></a>

    <a tabindex="0" class="share share--save hidden-md-up ml-3 mt-1" data-toggle="popover" data-placement="left" data-trigger="focus" data-html="true" title="
         <div class='bg-gray-dark p-2'>
            <a href='#' target='_self' class='light'>Log In to Save</a>
         </div>
      "></a>

  </div>

</div>