<div class="row mt-7 order-1 order-lg-2 bg-primary-3 px-0 reporting-summary">

  <!-- Mobile -->
  <div class="col-12 col-sm-8 pl-5 bg-primary-3 d-lg-none">
    <p class="label uppercase secondary-1 mt-3 mb-0">{{ total-heading }}</p>
    <p class="display3 secondary-6 light mt-0 mt-sm-1 mb-0">{{ total-revenue }}</p>
  </div>
  <div class="col-12 col-sm-4 px-lg-0 bg-primary-3 d-lg-none pl-5">
    <p class="label uppercase secondary-1 mt-2 mt-sm-3 mb-0">{{ total-type }}</p>
    <p class="display3 secondary-6 light mt-0 mt-sm-1 mb-0">{{ total-number }}</p>
  </div>
  <div class="col-12 d-lg-none pl-5">
    <p class="display7 small mt-2 mt-sm-3 mb-3">Totals for {{ startDate }} - {{ endDate }}</p>
  </div>

  <!-- Desktop -->
  <div class="col-lg-6 bg-primary-3 d-none d-lg-flex align-items-center">
    <p class="label uppercase secondary-1 my-2 d-inline-block text-align-right pr-4">{{ total-heading }}</p>
    <p class="display3 secondary-6 light my-2 d-inline-block">{{ total-revenue }}</p>
  </div>
  <div class="col-lg-3 bg-primary-3 d-none d-lg-flex align-items-center">
    <p class="label uppercase secondary-1 mt-3 my-2 text-align-right pr-4">{{ total-type }}</p>
    <p class="display3 secondary-6 light my-2">{{ total-number }}</p>
  </div>
  <div class="col-lg-3 bg-primary-3 d-none d-lg-flex align-items-center px-0">
    <p class="display7 small my-2">Totals for the time period shown</p>
  </div>
</div>
