<div class="row mt-4 order-3">
  <div class="col-md-12 px-0">
    <table id="sales-table" class="display nowrap" style="width:100%">
      <thead class="bg-secondary-1 primary-3 label uppercase">
        <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Recipient</th>
          <th>Payment Method</th>
          <th>Card Type</th>
          <th>Status</th>
          <th></th>
          <th class="control"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
