<div class="py-3 py-md-4">
  <p class="display4 text-center bold">
    &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.&rdquo;
  </p>
  <p class="text-center share-bar share-bar--small">
    <a href="#"><img class="d-inline-block mx-3 share-bar__icon" src="{{ share.facebookSrcMed }}" alt="Facebook Icon"></a>
    <a href="#"><img class="d-inline-block mx-3 share-bar__icon" src="{{ share.twitterSrcMed }}" alt="Twitter Icon"></a>
    <a href="#"><img class="d-inline-block mx-3 share-bar__icon" src="{{ share.linkedinSrcMed }}" alt="LinkedIn Icon"></a>
  </p>
</div>