<div class="container pt-3 pb-3 pb-md-4 border-after">
  <div class="row mb-5">
    <div class="col">
      <p class="display4 bold text-center">International locations</p>
    </div>
  </div>
  <div class="row">
    {{#addresses}}
      <div class="col-sm-6 col-lg-4 mb-4 mb-md-5">
        <p class="display5 bold">{{title}}</p>
        <div class="mb-3 mb-md-4">
          <p class="display8 secondary m-0">{{address1}}</p>
          {{#address2}}
            <p class="display8 secondary m-0">{{address2}}</p>
          {{/address2}}
          {{#address3}}
            <p class="display8 secondary m-0">{{address3}}</p>
          {{/address3}}
        </div>
        <div class="mb-2">
          {{#phone}}
            <p class="display8 secondary m-0">[ T ] {{phone}}</p>
          {{/phone}}
          {{#fax}}
            <p class="display8 secondary m-0">[ F ] {{fax}}</p>
          {{/fax}}
        </div>
        {{#email}}
          <p><a href="mailto:{{email}}" class="display8 accent">{{email}}</a></p>
        {{/email}}
      </div>
    {{/addresses}}
  </div>
</div>