<!-- Hero -->
<div class="jumbotron jumbotron-fluid m-0 py-6 py-md-7 event-hero" style="background-image: url( {{ eventHero.bgImg }} );">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="light display3 bold slide-up">{{{ eventHero.heroTitle }}}</h1>
        <p class="hero-desc lead light mt-5 display4 slide-up slide-up--delay-1">{{ eventHero.date }}</p>
        <p class="hero-desc lead light mt-4 mb-0 display6 slide-up slide-up--delay-2">{{ eventHero.venue }}</p>
        <p class="hero-desc lead light mt-0 display6 slide-up slide-up--delay-2">{{ eventHero.locale }}</p>
      </div>
    </div>
  </div>
</div>

{{> components-C62-Sticky-CTA }}