<div id="testi-carousel" class="carousel slide testi-carousel pt-md-4" data-ride="carousel" data-interval="6000" style="background-color: {{ carousel.bgClr }}">

  <ol class="carousel-indicators">
    <li data-target="#testi-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#testi-carousel" data-slide-to="1"></li>
    <li data-target="#testi-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active" style="background-color: #58a1ac;">
      <div class="container">
        <img class="d-block img-fluid c-img hidden-sm-down" src="{{ imagePath }}person3.png" alt="First slide">
        <div class="carousel-caption">
          <blockquote class="display4__testimonial bold light quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor magna diam, a mollis lacus mattis non. Praesent aliquet efficitur felis, at hendrerit odio. Fusce.</blockquote>
          <p class="display7 light mt-3">Andrea Lehman</p>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="background-color: #7c7cad;">
      <div class="container">
        <img class="d-block img-fluid c-img hidden-sm-down" src="{{ imagePath }}person4.png" alt="First slide">
        <div class="carousel-caption">
          <blockquote class="display4__testimonial bold light quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor magna diam, a mollis lacus mattis non. Praesent aliquet efficitur felis, at hendrerit odio. Fusce.</blockquote>
          <p class="display7 light mt-3">Andrea Lehman</p>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="background-color: #9f7b98;">
      <div class="container">
        <img class="d-block img-fluid c-img hidden-sm-down" src="{{ imagePath }}person5.png" alt="First slide">
        <div class="carousel-caption">
          <blockquote class="display4__testimonial bold light quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor magna diam, a mollis lacus mattis non. Praesent aliquet efficitur felis, at hendrerit odio. Fusce.</blockquote>
          <p class="display7 light mt-3">Andrea Lehman</p>
        </div>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev hidden-sm-down" href="#" role="button" data-target="#testi-carousel" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next hidden-sm-down" href="#" data-target="#testi-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>