<div class="container infographic-wrapper mt-3 mb-4 px-md-4">
  <div class="row">
    <div class="col-12">
      <h2 class="display6 bold mt-4 mb-0">{{infographic.title}}</h2>
    </div>
  </div>
  <div class="row px-md-3 mt-md-4 mb-md-6 hidden-md-down">
    <div class="col">
      <img src="{{ infographic.imgLg }}" class="img-fluid" alt="Infographic" />
    </div>
  </div>
  <div class="row px-md-3 mt-4 mb-5 mb-md-6 hidden-lg-up">
    <div class="col">
      <img src="{{ infographic.imgSm }}" class="mobile-img d-flex mx-auto" alt="Infographic" />
    </div>
  </div>

  {{> components-C61-Share-Bar }}

</div>