<div class="container py-4 py-md-5">
  <div class="row mb-3">
    <div class="col">
      <p class="display4 bold text-center">Contact us</p>
    </div>
  </div>
  <div class="row border-after">
    <div class="col-md-6 offset-md-3">
      <p class="display7 secondary text-center">
        As the voice of the retail real estate industry, it's important we hear what our members have to say.  If you have a question, concern or really great idea,  let's get in touch.
      </p>
      <p class="display7 text-center">
        <a href="tel:+1 646 728 3800" class="accent mx-3">+1 646 728 3800</a>
        <a href="mailto:icsc@icsc.org" class="accent mx-3">icsc@icsc.org</a>
      </p>
    </div>
  </div>
</div>