<!-- Modals -->
{{# home.invoiceModal }}
{{> Modules-M23-Modal-Invoice }}
{{/ home.invoiceModal }}

{{# home.newSaleModal }}
{{> Modules-M22-Modal-Sale }}
{{/ home.newSaleModal }}

<div class="wrapper">

  {{> Modules-M02-Navigation-Side }}

  <!-- Page Content  -->
  <section id="content" class="pb-8">

    {{> Modules-M33-Navigation-Top }}

    {{> Modules-M04-Greeting }}

    {{> Modules-M15-Carousel }}

    {{> Modules-M14-Data-Chart }}

    {{> Modules-M16-Data-Sales }}

    {{> Modules-M17-News }}

  </section>

  <!-- Dark Overlay  -->
  <div class="overlay"></div>

</div>
