<div class="container chat-launch mt-8">
  <div class="row">
    <div class="col-md-12 d-flex flex-column flex-md-row justify-content-center align-items-baseline">
      <div class="mx-md-3">
        <img src="{{chat.bubble}}" style="width: 45px;" />
      </div>
      <div class="display4 primary-2 text-center mt-4 mt-md-0 mx-md-1 mx-lg-3 mx-xl-4">
        {{chat.title}}
      </div>
      <div class="display6 medium uppercase primary-2 mt-4 mt-md-0 mx-md-1 mx-lg-3 mx-xl-4 text-center">
        {{chat.wait-copy}}
        <span class="border-bottom border-secondary" style="white-space: nowrap;">
          {{chat.wait-time}}
        </span>
      </div>
      <button class="btn mt-5 mt-md-0 mx-md-1 mx-lg-3 mx-xl-4">
        Start Chat
      </button>
    </div>
  </div>
</div>
