<div class="sub-hero-copy mt-md-6 pb-5">
  <h1 class="display4 bold">{{ subPage.headerTitle }}</h1>
  <p class="display6 secondary mt-4 mt-md-3">{{{ subPage.headerDesc }}}</p>
  <a href="http://www.icsc.org/education/elearning-registration/online-retail-real-estate-institute" class="btn btn-primary mx-auto mt-3" role="button">Register today</a>
</div>