<div class="form-row">
  <div class="form-group col-md-7 col-lg-8 col-xl-7 mb-2 mb-md-5">
    <label for="validationCustom01" class="primary-2">{{ card-label }}</label>
    <input type="text" class="form-control d-inline-block creditCard" id="validationCustom01"
      aria-describedby="validationCustom01" value="{{ pre-pop-card }}" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-4">
    <img class="d-inline-block edit-card-img {{ card-class }}" src="{{ card-thumb }}">
  </div>
  <div class="form-group col-md-3 mb-5 align-self-end">
    <label for="validationCustom02" class="primary-2">Exp. Date</label>
    <input type="text" class="form-control exp-date" id="validationCustom02" aria-describedby="validationCustom02"
      value="{{ pre-pop-exp }}" placeholder="MM/YYYY" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-3 mb-5 align-self-end">
    <label for="exampleInputEmail1" class="primary-2">CVV</label>
    <input type="email" class="form-control w-100" id="exampleInputEmail1" aria-describedby="exampleInputEmail1"
      value="{{ pre-pop-code }}" required>
    <div class="invalid-feedback">
      Secret code?
    </div>
  </div>
  <div class="form-group col-md-10 mb-5">
    <label for="exampleInputPhone1" class="primary-2">Billing Address</label>
    <input type="tel" class="form-control w-100" id="exampleInputPhone1" aria-describedby="exampleInputPhone1"
      value="{{ pre-pop-addr }}">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-8 mb-5">
    <label for="city01" class="primary-2">City</label>
    <input type="text" class="form-control" id="city01" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="form-group col-md-4 mb-5">
    <label for="stateSelect01" class="primary-2">State</label>
    <select id="stateSelect01" class="custom-select" required>
      <option selected></option>
      <option value="AL">AL</option>
      <option value="AK">AK</option>
      <option value="AR">AR</option>
      <option value="AZ">AZ</option>
      <option value="CA">CA</option>
      <option value="CO">CO</option>
      <option value="CT">CT</option>
      <option value="DC">DC</option>
      <option value="DE">DE</option>
      <option value="FL">FL</option>
      <option value="GA">GA</option>
      <option value="HI">HI</option>
      <option value="IA">IA</option>
      <option value="ID">ID</option>
      <option value="IL">IL</option>
      <option value="IN">IN</option>
      <option value="KS">KS</option>
      <option value="KY">KY</option>
      <option value="LA">LA</option>
      <option value="MA">MA</option>
      <option value="MD">MD</option>
      <option value="ME">ME</option>
      <option value="MI">MI</option>
      <option value="MN">MN</option>
      <option value="MO">MO</option>
      <option value="MS">MS</option>
      <option value="MT">MT</option>
      <option value="NC">NC</option>
      <option value="NE">NE</option>
      <option value="NH">NH</option>
      <option value="NJ">NJ</option>
      <option value="NM">NM</option>
      <option value="NV">NV</option>
      <option value="NY">NY</option>
      <option value="ND">ND</option>
      <option value="OH">OH</option>
      <option value="OK">OK</option>
      <option value="OR">OR</option>
      <option value="PA">PA</option>
      <option value="RI">RI</option>
      <option value="SC">SC</option>
      <option value="SD">SD</option>
      <option value="TN">TN</option>
      <option value="TX">TX</option>
      <option value="UT">UT</option>
      <option value="VT">VT</option>
      <option value="VA">VA</option>
      <option value="WA">WA</option>
      <option value="WI">WI</option>
      <option value="WV">WV</option>
      <option value="WY">WY</option>
    </select>
    <div class="invalid-feedback">

    </div>
  </div>
  <div class="form-group col-md-5 mb-5">
    <label for="zip01" class="primary-2">Zipcode</label>
    <input type="text" class="form-control" id="zip01" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
</div>
