<div class="jumbotron jumbotron-fluid homeHero m-0 py-1" style="background-image: url( {{ homeHero.bgImg }} );">
  <div class="container">
    <h1 class="text-center heroTitle light display2 bold slide-up">{{ homeHero.heroTitle1 }}<br />{{ homeHero.heroTitle2 }}</h1>
  </div>
</div>

<div class="container-fluid bg-gray-lightest hero-wrapper">
  <div class="container hero-boxes">
    <div class="row">
      <div class="col-md-12 col-lg-6 bg-red d-flex justify-content-center flex-column">
        <h2 class="display6 left-title light bold text-center mt-4 mt-md-5 mt-lg-7 mx-auto slide-up slide-up--delay-1">We’ve served the retail real estate industry since 1957. It started with a handshake. </h2>
        <button type="submit" class="btn btn-outline-secondary mt-4 mt-lg-5 px-5 align-self-center mb-4 mb-md-5 mb-lg-7 slide-up slide-up--delay-2">Get to know ICSC</button>
      </div>
      <div class="col-md-12 col-lg-6 bg-wht">
        <div class="row h-100 pr-md-0">

          <a href="#" class="link-wrap col-md-6 col-lg-12">
            <div class="px-4 pl-md-4 pl-lg-4 d-flex flex-wrap top-hero-box">
              <div class="copyBlock">
                <h3 class="display6 bold mt-4 d-inline-block title">Find events</h3><img src="{{ imagePath }}Arrow-Right.svg" alt="Forward" class="ml-auto forward">
                <p class="display8 mt-3 mb-4 copy">Share ideas, learn a new skill, or shape the future of an industry alongside top professionals at our esteemed events.</p>
              </div>
            </div>
          </a>

          <a href="#" class="link-wrap col-md-6 col-lg-12">
            <div class="px-4 pl-md-4 pl-lg-4 d-flex flex-wrap bottom-hero-box">
              <div class="copyBlock">
                <h3 class="display6 bold mt-4 d-inline-block title">Find events</h3><img src="{{ imagePath }}Arrow-Right.svg" alt="Forward" class="ml-auto forward">
                <p class="display8 mt-3 mb-4 copy">Share ideas, learn a new skill, or shape the future of an industry alongside top professionals at our esteemed events.</p>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>