<div class="two-col-contacts border-after">
  <div class="row border">
    <div class="col">
      <h3 class="display4 bold mt-4 mt-md-5">{{ contactModule.contactTitle }}</h3>
    </div>
  </div>

  <div class="row align-items-center mt-3 ">

    <div class="col-md-6">
      <div class="row mt-5">
        <div class="col-2 m-0 py-0">
          <img src="{{ cards.memberCardImg }}" alt="Member Avatar" class="m-0 p-0 card-img-right circular">
        </div>
        <div class="col-10 m-0 py-0">
          <div class="card-block m-0 py-0 pl-2 pl-md-3 pl-lg-4 pr-0">
            <a href="#">
              <h3 class="card-title display6 bold m-0 p-0">{{ cards.memberName }}</h3>
            </a>
            <p class="display8 secondary m-0 p-0">{{ cards.memberTitle }}</p>
            <p class="display8 secondary mt-2 mb-0 accent">+1 555 555-9081</p>
            <p class="display8 secondary mt-0 accent"><a href="mailto:emander@csc.org" class="accent">emander@csc.org</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row mt-5">
        <div class="col-2 m-0 py-0">
          <img src="{{ cards.memberCardImg }}" alt="Member Avatar" class="m-0 p-0 card-img-right circular">
        </div>
        <div class="col-10 m-0 py-0">
          <div class="card-block m-0 py-0 pl-2 pl-md-3 pl-lg-4 pr-0">
            <a href="#">
              <h3 class="card-title display6 bold m-0 p-0">{{ cards.memberName }}</h3>
            </a>
            <p class="display8 secondary m-0 p-0">{{ cards.memberTitle }}</p>
            <p class="display8 secondary mt-2 mb-0 accent">+1 555 555-9081</p>
            <p class="display8 secondary mt-0 accent"><a href="mailto:emander@csc.org" class="accent">emander@csc.org</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row mt-5">
        <div class="col-2 m-0 py-0">
          <img src="{{ cards.memberCardImg }}" alt="Member Avatar" class="m-0 p-0 card-img-right circular">
        </div>
        <div class="col-10 m-0 py-0">
          <div class="card-block m-0 py-0 pl-2 pl-md-3 pl-lg-4 pr-0">
            <a href="#">
              <h3 class="card-title display6 bold m-0 p-0">{{ cards.memberName }}</h3>
            </a>
            <p class="display8 secondary m-0 p-0">{{ cards.memberTitle }}</p>
            <p class="display8 secondary mt-2 mb-0 accent">+1 555 555-9081</p>
            <p class="display8 secondary mt-0 accent"><a href="mailto:emander@csc.org" class="accent">emander@csc.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>