<div class="container image-tiles pb-4 pb-md-5">
  <div class="row justify-content-center my-4 my-md-5 p-0">
    <h2 class="display3 bold m-0 p-0">
      Explore Events
    </h2>
  </div>
  <div class="row">
    {{#tiles.items}}
      <div class="col-md-6 col-lg-3 mb-3 mb-md-4">
        <a href="#" class="image-tile d-flex flex-column align-items-center p-3" style="background-image: url( {{ bgImg }} );">
          <p class="tile-text display7 d7-truncate2 light bold text-center m-0 p-0 mt-auto">{{ title }}</p>
          <p class="image-tile-desc display9 d9-truncate2 light text-center m-0 py-0 px-2 d-flex mx-auto mt-2 mb-auto">{{ text }}</p>
        </a>
      </div>
    {{/tiles.items}}
    <div class="col-md-6 col-lg-3 mb-3 mb-md-4">
      <a href="#" class="image-tile viewAll d-flex flex-column align-items-center" style="background-image: url( );">
        <p class="tile-text display6 accent bold text-center m-0 p-0 mt-auto">View All</p>
        <p class="image-tile-desc display9 accent text-center m-0 py-0 px-2 d-flex mx-auto mt-2 mb-auto"><img src="{{ imagePath }}view-all-arrow.svg" alt="Forward"></p>
      </a>
    </div>
  </div>
</div>