{{!-- Put a trigger button when viewing the modal via the Modules menu.
Otherwise, this button will usually be part of another module or component,
and the modal will only be "triggerable" when looking at a full template.
The trigger button should not normally be a part of the modal code. --}}
{{# demo-button-modules-menu-only }}
<button type="button" class="btn mx-4 mt-4" data-toggle="modal" data-target="#customerNew" data-backdrop="false">New
  Customer</button>
{{/ demo-button-modules-menu-only }}

<div class="modal fade modal-full" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ heading-page }}"
  aria-hidden="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="w-100 needs-validation" novalidate>

        <!-- Mini-Header -->
        <div class="container-fluid mini-header heading-row bg-primary-2">
          <div class="container">
            <div class="row h-100 py-5">
              <div class="col-lg-11 col-xl-9 mx-auto heading-col d-flex flex-column flex-md-row align-items-center px-0">
                <h1 class="primary-3">{{ heading-page }}</h1>
                <div class="ml-auto">
                  {{# btns-desktop-top }}
                  <button type="{{ type }}" form="{{ form }}" class="ml-4 {{ classes }}"
                    data-dismiss="{{ data-dismiss }}" aria-label="{{ aria-label }}">{{ btn-copy }}</button>
                  {{/ btns-desktop-top }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-header py-0 px-md-0">
          <!-- Mobile Header -->
          <div class="container h-100 d-md-none pl-0">
            <div class="row h-100">
              <div class="col-12 px-0 d-flex align-items-center">
                <h1 class="primary-3 display4">{{ heading-page }}</h1>
                <div class="ellipse-button">
                  <div>
                    <a href="javascript:void(0);"
                      class="mobile-ellipse-trigger display2 primary-3 d-flex align-items-center" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"><span
                        class="d-inline-block caret ml-2">&nbsp;</span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {{# menu-mobile }}
                      <a href="{{ url }}" class="{{ classes }}" data-dismiss="{{ data-dismiss }}"
                        aria-label="{{ aria-label }}">{{ btn-copy }}</a>
                      {{/ menu-mobile }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Image fades with object-fit -->
          <img class="d-none d-md-block header-img h-100 w-100" src="../../images/modal-header.svg" />
          <!-- <img class="d-none bottom" src="../../images/modal-header-plain.svg" /> -->

          <!-- Desktop Header -->
          <div class="container d-none d-md-block h-100 heading-row">
            <div class="row h-100">
              <div class="col-lg-11 col-xl-9 mx-auto heading-col d-flex flex-column flex-md-row align-items-center px-0">
                <h1 class="primary-3">{{ heading-page }}</h1>
                <div class="ml-auto">
                  {{# btns-desktop-top }}
                  <button type="{{ type }}" class="ml-4 {{ classes }}" data-dismiss="{{ data-dismiss }}"
                    aria-label="{{ aria-label }}">{{ btn-copy }}</button>
                  {{/ btns-desktop-top }}
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-body pt-0 px-0 h-100">
          <div class="container">
            <div class="row">
              <div class="col-lg-11 col-xl-9 mx-auto mainBox pb-8">

                {{# sections }}
                <div class="row py-6 py-md-8">
                  <div class="col-md-4 offset-md-1 pb-4">
                    <h2 class="secondary-6">{{ heading }}</h2>
                  </div>
                  <div class="col-md-6">
                    {{# profile-info }}
                    {{> Components-C30-Fields-Profile-Info }}
                    {{/ profile-info }}

                    {{# card-on-file }}
                    {{> Components-C31-Fields-Card-On-File }}
                    {{/ card-on-file }}

                    {{# set-up-billing }}
                    {{> Components-C32-Fields-Set-Up-Billing }}
                    {{/ set-up-billing }}
                  </div>
                </div>
                <!-- I Rule -->
                <div class="row">
                  <div class="col-md-10 offset-md-1">
                    <div class="w-100 rule">&nbsp;</div>
                  </div>
                </div>
                {{/ sections }}
                <div class="row mt-8">
                  <div class="col-md-10 offset-md-1 d-sm-flex">
                    <div class="ml-sm-auto">
                      {{# btns-desktop-bottom }}
                      <button type="{{ type }}" class="modal-button-bottom ml-sm-4 {{ classes }}" data-dismiss="{{ data-dismiss }}"
                        aria-label="{{ aria-label }}">{{ btn-copy }}</button>
                      {{/ btns-desktop-bottom }}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
