<div id="accordion2" class="accordion-narrow" role="tablist" aria-multiselectable="false">
  {{#accordion}}
    <div class="card mb-0">
      <div class="card-header py-5 px-2" role="tab" id="{{headingId}}">
        <a class="display6 d-inline-block mx-5 bold {{^expanded}}collapsed{{/expanded}}" href="#" {{#expanded}}aria-expanded="true" {{/expanded}} {{^expanded}}aria-expanded="false" {{/expanded}} data-toggle="collapse" data-parent="#accordion2" data-target="#{{id}}" aria-controls="{{id}}">Course II: Building and Growing Value in Retail Real Estate (prerequisite is course 1)</a>
      </div>
      <div id="{{id}}" class="collapse {{#expanded}} show{{/expanded}}" role="tabpanel" aria-labelledby="{{headingId}}">
        <div class="card-block">
          <p class="display8 secondary p-0 bold">{{subtitle}}</p>
          <p class="display8 secondary p-0">{{text}}</p>
          <button type="button" class="btn btn-primary d-inline-block my-3 cta">{{cta}}</button>
          {{> components-C61-Share-Bar }}
        </div>
      </div>
    </div>
  {{/accordion}}
</div>