<div class="container">
  {{#featureCallout}}
    <div class="row mb-3 mb-md-7 text-center text-md-left callout-item {{#reverse}}flex-row-reverse{{/reverse}}">
      <div class="col-md-6 px-md-3 px-lg-5 px-xl-6">
        <img src="{{ imgSrc }}" width="350" height="350" class="img-fluid p-4">
      </div>
      <div class="col-md-6 px-md-3 px-lg-5 px-xl-6">
        <p class="display4 bold pt-4">{{ title }}</p>
        <p class="display8 secondary mb-4">{{ desc }}</p>
        <button type="button" class="btn btn-primary mx-auto mb-5 px-6">Learn more</button>
      </div>
    </div>
  {{/featureCallout}}
</div>