<div class="container">
  <div class="row mt-md-3">
    <div class="col-3 p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-3 p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>
    <div class="col-3 bg-red p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>
  </div>
</div>



<div class="container">
  <div class="row mt-md-3">
    <div class="col-xs-12 col-md-3 p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-xs-12 col-md-3 p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>
    <div class="col-xs-12 col-md-3 bg-red p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>
  </div>
</div>