<div class="container-fluid bg-gray-lightest pb-5 pb-m-5 featured-speakers">
  <div class="row">
    <div class="col-md-12 display3 bold text-center mt-4 mb-5 mt-md-5 mb-md-6">Featured speakers</div>
  </div>
  <div class="container no-xs-guts">
    <div class="row d-flex justify-content-center">
      {{#featuredSpeakers}}
        <div class="col-md-6 col-lg-4 hidden-sm-down">
          <div class="card">

            <!-- Real Image -->
            <!-- <img class="member-card-img mt-5 mx-auto" src="{{ memberCardImg }}" alt="{{ memberName }}"> -->

            <!-- Fake Image -->
            <div class="member-card-img member-default mt-4 mt-lg-5 d-flex align-items-center mx-auto" alt="{{ cards.memberName }}">
              <div class="letters mx-auto">
                <span class="display5">{{ cards.memberFirstInit }}</span><span class="display5">{{ cards.memberLastInit }}</span>
              </div>
            </div>

            <div class="card-block py-0">
              <a href="#" class="profile-name-link">
                <h3 class="member-name mt-3 mb-0 display6 bold text-center">{{ memberName }}</h3>
              </a>
              <p class="display8 secondary mt-2 mb-0 text-center member-title">{{ memberTitle }}</p>
              <a href="#" class="profile-co-link">
                <p class="display8 mt-2 mb-0 text-center secondary">{{ memberCompany }}</p>
              </a>
            </div>
          </div>
        </div>
      {{/featuredSpeakers}}
      <div class="col hidden-md-up">
        {{> components-C23B-Profile-List }}
        {{> components-C23B-Profile-List }}
        {{> components-C23B-Profile-List }}
        {{> components-C23B-Profile-List }}
        {{> components-C23B-Profile-List }}
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-outline-primary d-block mx-auto mt-4 mt-md-6 mb-md-5 px-7">View all speakers</button>
  </div>
</div>