<nav aria-label="Page Navigation">
  <ul class="pagination justify-content-center m-0 pt-4 pb-5">
    <li class="page-item">
      <a class="page-link h-100" href="#" aria-label="Previous">
        <img src="{{ pagination.back }}" alt="Pagination Arrow" aria-hidden="true" class="single disabled">
      </a>
    </li>
    <li class="page-item">
      <a class="page-link h-100" href="#" aria-label="Previous">
        <img src="{{ pagination.doubleBack }}" alt="Pagination Arrow" aria-hidden="true" class="double disabled">
      </a>
    </li>
    <li class="page-item">
      <span class="page-link h-100 hits display9 secondary active no-hover d-inline-block">1 of 265</span>
    </li>
    <li class="page-item">
      <a class="page-link h-100" href="#" aria-label="Next">
        <img src="{{ pagination.doubleForward }}" alt="Pagination Arrow" aria-hidden="true" class="double">
      </a>
    </li>
    <li class="page-item">
      <a class="page-link h-100" href="#somethng" aria-label="Next">
        <img src="{{ pagination.forward }}" alt="Pagination Arrow" aria-hidden="true" class="single">
      </a>
    </li>
  </ul>
</nav>