<div class="container pt-2 pb-3 pt-md-3 pb-md-4 border-after">
  <div class="row mb-5">
    <div class="col">
      <p class="display4 bold text-center">Publicity contacts</p>
    </div>
  </div>
  {{#contacts}}
    <div class="row mb-4">
      <div class="col">
        <p class="display5 secondary">{{title}}</p>
      </div>
    </div>
    <div class="row">
      {{#items}}
        <div class="col-sm-6 col-md-4 mb-4 d-flex flex-row">
          <img src="{{imgSrc}}" class="profile-img-standard mr-3">
          <div>
            <p class="display7 bold m-0">{{name}}</p>
            <p class="display8 secondary m-0">{{position}}</p>
            <p class="display8 m-0"><a href="#" class="accent">{{phone}}</a></p>
            <p class="display8 m-0"><a href="#" class="accent">{{email}}</a></p>
          </div>
        </div>
      {{/items}}
    </div>
  {{/contacts}}
</div>