<!-- Hero -->
<div class="jumbotron jumbotron-fluid m-0 py-6 py-md-7 event-hero event-hero__no-overlay" style="background-image: url( {{ newsHero.bgImg }} );">
  <div class="container">
    <div class="row my-3 my-md-5">
      <div class="col-md-12">
        <p class="text-center display8 p-0 m-0 slide-up">{{{ eventHero.category }}}</p>
        <h1 class=" display3 bold text-center slide-up slide-up--delay-1">{{{ eventHero.heroTitle }}}</h1>
      </div>
    </div>
  </div>
</div>

{{> components-C58C-Sticky-Bar-Share-Save }}