<div class="form-row">
  <div class="form-group col-md-10 mb-5">
    <label for="validationCustom01" class="primary-2">Customer Name</label>
    <input type="text" class="form-control" id="validationCustom01" aria-describedby="validationCustom01" required
      value="{{ pre-pop-name }}">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-8 mb-5">
    <label for="validationCustom02" class="primary-2">Company</label>
    <input type="text" class="form-control" id="validationCustom02" aria-describedby="validationCustom02" required
      value="{{ pre-pop-company }}">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-10 mb-5">
    <label for="InputEmail1" class="primary-2">Email address</label>
    <input type="email" class="form-control w-100" id="InputEmail1" aria-describedby="InputEmail1"
      value="{{ pre-pop-email }}">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-6 mb-5">
    <label for="InputPhone1" class="primary-2">Phone number</label>
    <input type="tel" class="form-control w-100" id="InputPhone1" aria-describedby="InputPhone1"
      value="{{ pre-pop-tel }}">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
</div>
