<!-- Hero -->
<div class="jumbotron xjumbotron-fluid m-0 py-5 py-md-5 py-lg-6 py-xl-7 image-with-cta" style="background-image: url('{{ imagePath }}m11-promo-media-lineup@2x.png')">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-4 text-center text-lg-left">
        <h1 class="display3 bold">Save on getting the scoop</h1>
        <p class="hero-desc lead mt-4 display8">Our members get discounted publications, access to ICSC Exchange, and a free subscription to Shopping Centers Today.</p>
        <button type="button" class="btn btn-primary d-inline-block mt-4 mr-0 px-6 cta">Join ICSC today</button>
      </div>
    </div>
  </div>
</div>