<div class="container">
  <div class="row">
    <div class="col">

      <div class="bg-faded alert alert-light" role="alert">
        This is a light alert—check it out!
      </div>


      <br>

      <h2 class="sg-pattern-category-title">Paragraph Styles</h2>

      <br />

      <p>Paragraph Text: 'Sophia Pro', sans-serif; </p>
      <p><strong>Paragraph Strong: 'Sophia Pro', sans-serif;</strong></p>

      <p class="secondary">Paragraphy Text w/ class "secondary"</p>
      <p class="disabled">Paragraphy Text w/ class "disabled"</p>
      <p class="accent">Paragraphy Text w/ class "accent"</p>

      <br /><br>
      <h2 class="sg-pattern-category-title">Bootstrap Classes Overridden</h2>
      <br />

      <p class="text-primary">Paragraphy Text w/ Bootstrap class "text-primary"</p>
      <p class="text-primary"><strong>Paragraphy Strong w/ Bootstrap class "text-primary"</strong></p>
      <p class="text-muted">Paragraphy Text w/ Bootstrap class "text-muted"</p>
      <p class="text-danger">Paragraphy Text w/ Bootstrap class "text-danger"</p>
      <p class="bg-faded">Paragraphy Text w/ Bootstrap class "bg-faded text-white"</p>
      <p class="bg-danger text-white">Paragraphy Text w/ Bootstrap class "bg-danger text-white"</p>
      <p class="bg-inverse text-white">Paragraphy Text w/ Bootstrap class "bg-inverse text-white"</p>

      <br><br>
      <h2 class="sg-pattern-category-title">Display Styles</h2>
      <br />

      <h1 class="display1">Display 1 • 0.9</h1>
      <h1 class="display2">Display 2 • 0.9</h1>
      <h1 class="display3">Display 3 • 0.9</h1>
      <h1 class="display4">Display 4 • 0.9</h1>
      <h1 class="display5">Display 5 • 0.9</h1>
      <h1 class="display6">Display 6 • 0.9</h1>
      <h1 class="display7">Display 7 • 0.9</h1>

      <br>

      <h1 class="display1 secondary">Display 1 w/ class "secondary" • 0.6</h1>
      <h1 class="display2 secondary">Display 2 w/ class "secondary" • 0.6</h1>
      <h1 class="display3 secondary">Display 3 w/ class "secondary" • 0.6</h1>
      <h1 class="display4 secondary">Display 4 w/ class "secondary" • 0.6</h1>
      <h1 class="display5 secondary">Display 5 w/ class "secondary" • 0.6</h1>
      <h1 class="display6 secondary">Display 6 w/ class "secondary" • 0.6</h1>
      <h1 class="display7 secondary">Display 7 w/ class "secondary" • 0.6</h1>

      <br>

      <h1 class="display1 disabled">Display 1 w/ class "disabled" • 0.2</h1>
      <h1 class="display2 disabled">Display 2 w/ class "disabled" • 0.2</h1>
      <h1 class="display3 disabled">Display 3 w/ class "disabled" • 0.2</h1>
      <h1 class="display4 disabled">Display 4 w/ class "disabled" • 0.2</h1>
      <h1 class="display5 disabled">Display 5 w/ class "disabled" • 0.2</h1>
      <h1 class="display6 disabled">Display 6 w/ class "disabled" • 0.2</h1>
      <h1 class="display7 disabled">Display 7 w/ class "disabled" • 0.2</h1>

      <br>

      <p class="display1 accent">Display 1 w/ class "accent" • 1</p>
      <h1 class="display2 accent">Display 2 w/ class "accent" • 1</h1>
      <h1 class="display3 accent">Display 3 w/ class "accent" • 1</h1>
      <h1 class="display4 accent">Display 4 w/ class "accent" • 1</h1>
      <h1 class="display5 accent">Display 5 w/ class "accent" • 1</h1>
      <h1 class="display6 accent">Display 6 w/ class "accent" • 1</h1>
      <h1 class="display7 accent">Display 7 w/ class "accent" • 1</h1>

      <br>

      <div style="background-color: #000;">
        <br>
        <h1 class="display1 light">Display 1 w/ class "light" • 1</h1>
        <h1 class="display2 light">Display 2 w/ class "light" • 1</h1>
        <h1 class="display3 light">Display 3 w/ class "light" • 1</h1>
        <h1 class="display4 light">Display 4 w/ class "light" • 1</h1>
        <h1 class="display5 light">Display 5 w/ class "light" • 1</h1>
        <h1 class="display6 light">Display 6 w/ class "light" • 1</h1>
        <h1 class="display7 light">Display 7 w/ class "light" • 1</h1>
        <br>
      </div>

      <br><br>

      <h2 class="sg-pattern-category-title">Header Styles and Common Variants</h2>

      <br />

      <h1>H1 Heading (Display 3) • 0.9</h1>
      <h2>H2 Heading (Display 3) • 0.9</h2>
      <h3>H3 Heading (Display 3) • 0.9</h3>

      <br>

      <h1 class="secondary">H1 w/ class "secondary" • 0.6</h1>
      <h2 class="secondary">H2 w/ class "secondary" • 0.6</h2>
      <h3 class="secondary">H3 w/ class "secondary" • 0.6</h3>

      <br>

      <h1 class="disabled">H1 w/ class "disabled" • 0.2</h1>
      <h2 class="disabled">H2 w/ class "disabled" • 0.2</h2>
      <h3 class="disabled">H3 w/ class "disabled" • 0.2</h3>

      <br>

      <h1 class="accent">H1 w/ class "accent" • 1</h1>
      <h2 class="accent">H2 w/ class "accent"• 1</h2>
      <h3 class="accent">H3 w/ class "accent" • 1</h3>

      <br>

      <div style="background-color: #000;">
        <br>
        <h1 class="light">H1 Heading w/ class "light"</h1>
        <h2 class="light">H2 Heading w/ class "light"</h2>
        <h3 class="light">H3 Heading w/ class "light"</h3>
        <br>
      </div>

      <br>

    </div>
  </div>
</div>