{{> modules-GM3-Global-Search }}

<nav class="navbar navbar-toggleable-sm navbar-light bg-white p-0 glob-header" role="navigation">

  <!-- Mobile Buttons -->
  <div class="d-flex justify-content-between align-items-center mobile-buttons hidden-md-up">
    <div class="button-group d-flex align-items-center m-0 p-0">
      <a href="#" class="hidden-md-up" routerLink="../">
        <span class="d-inline-block my-auto ml-3 mr-3">
          <img src="{{ imagePath }}back-arrow.svg" class="d-block my-auto">
        </span>
      </a>
      <span class="nav-divider d-inline-block hidden-md-up">&nbsp;</span>
      <button class="navbar-toggler border-0 my-auto collapsed" type="button" data-toggle="collapse" data-target="#menus" aria-controls="menus" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="sr-only">Toggle Navigation</span>
      </button>
    </div>
    <a class="navbar-brand button-group my-2 hidden-md-up" href="#" routerLink="/">
      <div class="icsc-logo my-auto ml-4">&nbsp;</div>
    </a>
    <a href="#" class="mobile-search-icon search-trigger button-group hidden-md-up d-flex justify-content-end">
      <img src="{{ imagePath }}magnifying-glass.svg" alt="Search Icon" class="d-block my-auto mr-3 search-icon">
    </a>
  </div>
  <!-- End Mobile Buttons -->


  <!-- Menus -->
  <div class="container header-menus">
    <a class="navbar-brand hidden-sm-down m-0 p-0" href="#" routerLink="/">
      <div class="icsc-logo">&nbsp;</div>
    </a>


    <div class="collapse navbar-collapse flex-sm-column-reverse" id="menus">


      <!-- Main Mobile Menu -->
      <div class="mainMenu hidden-md-up mt-1 mx-3">
        <ul class="navbar-nav">
          {{#header.mainLinks }}
            <li class="nav-item dropdown m-0 p-0">
              <a aria-expanded="false" class="nav-link display8 my-3 p-0 " data-toggle="dropdown" href="#">{{{ navLink }}}</a>
              <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right border-right-0 border-left-0 m-0 p-0">
                {{# subLinks }}
                  <a class="dropdown-item display8 m-0 my-3 pl-3 accent" href="{{ url }}" {{{ route }}}>{{ name }}</a>
                  {{/ subLinks }}
              </div>
            </li>
          {{/header.mainLinks }}
          <li class="nav-item ml-md-4 ml-lg-5 hidden-sm-down">
            <a class="nav-link search-trigger display8 p-0" href="#">
              <img src="{{ imagePath }}magnifying-glass.svg" class="search-icon">
            </a>
          </li>
        </ul>
      </div>


      <!-- Main Desktop Menu -->
      <div class="mainMenu mt-md-4 mb-md-0 d-flex justify-content-md-end hidden-sm-down">

        <!-- Refactored Mega Menu -->
        <ul class="nav nav-tabs">
          <li class="nav-item m-0 p-0 ml-md-3 ml-lg-5">
            <a class="nav-link display8 my-3 my-md-0 p-0 pb-md-3" data-target="#megaMenu1">Who We Are</a>
          </li>
          <li class="nav-item m-0 p-0 ml-md-3 ml-lg-5">
            <a class="nav-link display8 my-3 my-md-0 p-0 pb-md-3" data-target="#megaMenu2">News &amp; Views</a>
          </li>
          <li class="nav-item m-0 p-0 ml-md-3 ml-lg-5">
            <a class="nav-link display8 my-3 my-md-0 p-0 pb-md-3" data-target="#megaMenu3">Attend &amp; Learn</a>
          </li>
          <li class="nav-item m-0 p-0 ml-md-3 ml-lg-5">
            <a class="nav-link display8 my-3 my-md-0 p-0 pb-md-3" data-target="#megaMenu4">Find &amp; Connect</a>
          </li>
          <li class="nav-item m-0 p-0 ml-md-3 ml-lg-5">
            <a class="nav-link display8 my-3 my-md-0 p-0 pb-md-3" data-target="#megaMenu5">Join</a>
          </li>
          <li class="nav-item mt-2 ml-md-4 ml-lg-5 hidden-sm-down search-icon">
            <a class="m-0 p-0 search-trigger">
              <span class="d-block">&nbsp;</span>
            </a>
          </li>
        </ul>

      </div>


      <div class="dropdown-divider hidden-md-up w-100 m-0 p-0"></div>


      <!-- Top Menu -->
      <div class="topMenu d-flex justify-content-md-end mx-3 mx-md-0 mt-md-3">
        <ul class="navbar-nav ">
          <li class="nav-item mr-md-4">
            <a class="nav-link login-link my-3 my-md-0 p-0 d-flex flex-md-row-reverse">
              <span class="secondary d-inline-block mr-3 mr-md-0 my-auto" routerLink="/login">My ICSC</span>
              <img src="{{ imagePath }}90.jpg" alt="{{ userName }}" class="avatar mr-3">
            </a>
          </li>
          <li class="nav-item mr-md-4 d-inline-block my-md-auto">
            <a class="nav-link secondary my-3 my-md-0 p-0" href="#" routerLink="/contact-us">Contact Us</a>
          </li>
          <li class="nav-item mr-md-4 d-inline-block my-md-auto">
            <a class="nav-link secondary my-3 my-md-0 p-0" href="#" routerLink="/media">Media</a>
          </li>
          <li class="nav-item locations dropdown d-inline-block my-md-auto">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link secondary my-3 my-md-0 p-0" data-toggle="dropdown" href="#" routerLink="/">NY, USA</a>
            <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right m-0 px-2">
              <a class="dropdown-item my-3 pl-3 accent" href="#" routerLink="/">NY, USA</a>
              <a class="dropdown-item my-3 pl-3" href="#" routerLink="/">London, UK</a>
              <a class="dropdown-item my-3 pl-3" href="#" routerLink="/">Tokyo, JP</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Collapsible -->

  </div>
  <!-- End Menus -->


</nav>
<!-- End Nav, Obviously -->



<!-- Mega Refactor -->
<div class="tab-content tab-content-megaMenu">

  <div class="container-fluid megaMenu tab-pane" id="megaMenu1">
    <div class="container py-6 pr-0">
      <div class="row">
        <div class="col-3">
          <a class="display8 accent" href="/who-we-are/our-mission">Our mission</a>
          <p class="display8">Learn who we are and how we serve our community</p>
        </div>
        <div class="col-3">
          <a class="display8 accent" href="/who-we-are/leadership">Leadership</a>
          <p class="display8">Meet our leaders, trustees and team</p>
        </div>
        <div class="col-3">
          <a class="display8 accent" href="/who-we-are/foundation">ICSC Foundation</a>
          <p class="display8">Support up-and-coming professionals</p>
        </div>
        <div class="col-sm-3 pl-3 related">
          <a class="display8 d-block accent" href="/who-we-are/volunteer">Volunteer</a>
          <a class="display8 d-block accent" href="#">Community</a>
          <a class="display8 d-block accent" href="#">Awards &amp; recognition</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid megaMenu tab-pane" id="megaMenu2">
    <div class="container py-6 pr-0">
      <div class="row">
        <div class="col-3">
          <a class="display8 accent" href="/news-and-views/icsc-exchange">ICSC Exchange</a>
          <p class="display8">Catch up on industry ideas, news and views</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-3">
          <a class="display8 accent" href="/news-and-views/research">Research</a>
          <p class="display8">Check out wide-ranging resources that educate and inspire</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-3">
          <a class="display8 accent" href="/news-and-views/global-public-policy">Public policy</a>
          <p class="display8">Learn about the governmental initiatives we support</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-sm-3 pl-3 related">
          <a class="display8 d-block accent" href="/news-and-views/sct-magazine">Shopping Centers Today</a>
          <a class="display8 d-block accent" href="/news-and-views/newsstand">Newsstand</a>
          <a class="display8 d-block accent" href="#">Media</a>
        </div>
        <!-- /.col-sm-3 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>

  <div class="container-fluid megaMenu tab-pane" id="megaMenu3">
    <div class="container py-6 pr-0">
      <div class="row">
        <div class="col-3">
          <a class="display8 accent" href="/attend-and-learn/events">Events</a>
          <p class="display8">Connect with other professionals at a local, regional or national event</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-3">
          <a class="display8 accent" href="/attend-and-learn/professional-development">Professional development</a>
          <p class="display8">Grow your skills online, in a class or at an event with expert guidance</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-3">
        </div>
        <!-- /.col-3 -->
        <div class="col-sm-3 pl-3 related">
          <a class="display8 d-block accent" href="#">Custom or Geotargeted Event #1</a>
          <a class="display8 d-block accent" href="#">Custom or Geotargeted Event #2</a>
          <a class="display8 d-block accent" href="#">Custom or Geotargeted Event #3</a>
        </div>
        <!-- /.col-sm-3 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>

  <div class="container-fluid megaMenu tab-pane" id="megaMenu4">
    <div class="container py-6 pr-0">
      <div class="row">
        <div class="col-3">
          <a class="display8 accent" href="/find-and-connect/members">Find members</a>
          <p class="display8">Access our Member Directory and connect with colleagues</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-3">
          <a class="display8 accent" href="/vrn/directories/">Find outlets</a>
          <p class="display8">Get data and contact information for shopping outlets</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-3">
          <a class="display8 accent" href="http://careers.icsc.org" target="_blank">Find jobs</a>
          <p class="display8">Search and post jobs, upload your resume or find qualified candidates</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-sm-3 pl-3 related">
        </div>
        <!-- /.col-sm-3 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>

  <div class="container-fluid megaMenu tab-pane" id="megaMenu5">
    <div class="container py-6 pr-0">
      <div class="row">
        <div class="col-3">
          <a class="display8 accent" href="/join/become-a-member">Become a member</a>
          <p class="display8">Learn about how to join ICSC and the benefits of membership</p>
        </div>
        <!-- /.col-3 -->
        <div class="col-3">
        </div>
        <!-- /.col-3 -->
        <div class="col-3">
        </div>
        <!-- /.col-3 -->
        <div class="col-sm-3 pl-3 related">
          <a class="display8 d-block accent" href="/join/become-a-member/member-benefits">Member benefits</a>
          <a class="display8 d-block accent" href="/join/become-a-member/member-types-pricing/">Member types ∧ pricing</a>
          <a class="display8 d-block accent" href="/join/membership-faqs">Member FAQs</a>
        </div>
        <!-- /.col-sm-3 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>

</div>