<div class="bg-gray-lightest">
  <div class="container pb-5 pt-5 pt-md-7 px-6 px-lg-auto" style="max-width: 70rem;">
    <div class="row">
      <div class="col">

        <h1 class="display2 mt-5">Loading spinner</h1>
        {{!-- <p class="mt-3"></p> --}}

      </div>
    </div>
  </div>
</div>

<div class="container pt-8 pb-9 px-6 px-lg-auto" style="max-width: 70rem;">
  <div class="row">

    <div class="col-12">
      <img src="../../images/loading-spinner.svg" />
    </div>

  </div>
</div>