<div class="row">
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
  <div class="col-1" style="border: 1px solid red">
    <div style="background-color: green; width: 100%;">&nbsp;</div>
  </div>
</div>