<div class="container-fluid profile-badges">
  <div class="container">
    <div class="row pt-5">
      <div class="col">
        <p class="display6 bold">{{profileBadges.title}}</p>
      </div>
    </div>
    <div class="row py-4">
      {{#profileBadges.items}}
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-4">
          <div class="profile-badges--item profile-badges--item__{{style}} py-6 px-4 text-center d-flex justify-content-center align-items-center secondary">
            {{text}}
          </div>
        </div>
      {{/profileBadges.items}}
    </div>
  </div>
</div>