<div class="container cp-heading mt-7">
  <div class="row py-7">
    <div class="col-md-10 offset-md-1 pl-md-0">
      <div class="">
        <a href="javascript:void(0);" id="customerDropdown" class="display3 primary-3 d-flex align-items-center"
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{ customer.firstName }}&nbsp;{{ customer.lastName }} <span
            class="d-inline-block caret ml-2">&nbsp;</span></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {{# customer.dropdown-items }}
          <a href="{{ url }}" data-toggle="modal" data-target="#{{ data-target }}" data-backdrop="false"
            class="dropdown-item">{{ link-copy }}</a>
          {{/ customer.dropdown-items }}
        </div>
      </div>
    </div>
  </div>
</div>
